<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>639倍</title>
</head>
<body>
    <p>入力された値は<%= number %>です．</p>
    <p>結果は<%= resurt %>です．</p>
    <hr>
    <p>
        639倍したい値を入力してください
    </p>
    <form action="/639">
        <input type="number" name="number" id="number">
        <input type="submit" value="送信">
    </form>
</body>
</html>